<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Conexión -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/sys?useSSL=false&amp;serverTimezone=UTC
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>

        <!-- Dialecto -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Debug -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- IMPORTANTE: no tocar el esquema -->
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <!-- Entidades -->
        <mapping class="models.Desarrolladora"/>
        <mapping class="models.Videojuego"/>
        <mapping class="models.Jugador"/>
        <mapping class="models.Compra"/>
        <mapping class="models.Valoracion"/>

    </session-factory>
</hibernate-configuration>